com.apple.screencaptureui

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.apple.private.DFRSystemAppModal</key>
		<true/>
		<key>com.apple.private.appstored</key>
		<array>
			<string>TestFlightFeedback</string>
		</array>
		<key>com.apple.private.tcc.allow</key>
		<array>
			<string>kTCCServiceCamera</string>
			<string>kTCCServiceMicrophone</string>
		</array>
		<key>com.apple.security.application-groups</key>
		<array>
			<string>com.apple.PreviewLegacySignaturesConversion</string>
		</array>
		<key>com.apple.security.device.camera</key>
		<true/>
		<key>com.apple.security.temporary-exception.files.home-relative-path.read-only</key>
		<string>/Library/Containers/com.apple.Preview/Data/Library/Preferences/com.apple.Preview.signatures.plist</string>
		<key>com.apple.security.temporary-exception.mach-lookup.global-name</key>
		<array>
			<string>com.apple.appstoreagent.xpc</string>
		</array>
		<key>keychain-access-groups</key>
		<array>
			<string>com.apple.AnnotationKit</string>
			<string>com.apple.Markup</string>
		</array>
	</dict>
</plist>